		body {
			margin:0;
			padding:0;
			background:rgb(8,8,12); 
			color:#777777;
			font-size:12px;
			font-family: Arial, Helvetica, sans-serif;
			-webkit-user-select: none;
		}
		a {
			font-weight:        bold;
			text-decoration:    none;
			color:              #FFFFFF;
			-webkit-transition: color 0.3s ease-out;
			   -moz-transition: color 0.3s ease-out;
			     -o-transition: color 0.3s ease-out;
		}
		a:visited {
			color: #CCCCCC;
		}
		a:hover {
			color: #00CCFF;
			-webkit-transition: color 0.15s ease-out;
			   -moz-transition: color 0.15s ease-out;
			     -o-transition: color 0.15s ease-out;
		}
		a:active {
			color: #006680;
		}
		canvas {
			position:absolute;
		}
		.info{
			margin: 4px;
			position: absolute;
			background: rgba(8,8,12,0.75);
			padding: 6px 12px;
			border-radius: 16px;
			bottom: 4px;
		}
		.marg{
			padding: 0px 2px;
		}
		@media screen and (max-device-width: 1024px){
			body{
				font-size:14px;
			}
		}
		@media screen and (max-device-width: 480px){
			/*body{
				font-size:13px;
			}*/
			.info{
				visibility: hidden;
			}
		}
	header.open {
		height: 165px;
	}
	
	header h1 {
		font-family: Molengo, Helvetica, Arial, sans-serif;
		float: left;
		margin-top: 1px;
	}
	
	header .header-instruction {
		float: left;
		margin: 12px 0 0 15px;
		
		font-size: 10px;
		font-style: italic;
		color: #999;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
		header.open .header-instruction {
			opacity: 0;
		}
	header div.extra {
		margin: 45px 0 0 20px;
		clear: both;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
		header div.extra h3 {
			margin-bottom: 10px;
		}
		header a {
			color: #19d75a;
			text-decoration: underline;
			
			-webkit-transition: all .1s ease-out;
			   -moz-transition: all .1s ease-out;
			     -o-transition: all .1s ease-out;
			        transition: all .1s ease-in;
		}
			header a:hover {
				color: #67f38f;
			}
		header section {
			height: 120px;
			padding: 0 25px;
			float: left;
			
			border-left: 1px #333 solid;
		}
		header p {
			margin-bottom: 5px;
			
			font-size: 12px;
			letter-spacing: 0.05em;
		}
body, a:link{cursor:url(https://rein.tk/assets/img/cursor/cursor.cur), default;} a:hover {cursor:url(https://rein.tk/assets/img/cursor/cursor2.cur),pointer;}
